.plane {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  place-items: center;
  min-height: 50vh;

  &__title {
    margin-top: 40px;
  }

  &__price {
    margin: 30px 0;
    font-size: 24px;
    font-weight: 700;
    color: #2fb5fc;
  }

  &__buy {
    margin-bottom: 30px;
  }

  &__descr {
    line-height: 24px;
    color: rgb(148, 163, 184);
  }

  &__img {
    width: 560px;
    height: 360px;
    border-radius: 20px;
  }
}